.field_with_errors {
  .form-control {
    color: red;
  }
}

.js-tag-filter-badge {
  font-size: 100% !important;
  font-weight: normal !important;
}

.js-image-list-item img {
  max-width: 400px;
}

@media (max-width: 482px) {
  .js-image-list-item img {
    max-width: 100%;
  }
}
