<h1>
  <%= image_tag('camera.svg', alt: 'camera icon', width: 50) %>
  Kevin's Image Sharer
</h1>
<%= link_to 'add an image', new_image_path %>
<% if Image.any? %>
  <ol>
  <% Image.newest_first.all.each do |image| %>
    <li class="image-list-item">
      <div class="image-wrapper">
        <%= link_to image_tag(image.url), image_path(image) %>
        <%= render 'tag_list', image: image %>
        </div>
      </li>
  <% end %>
  </ol>
<%end%>